
/* sets up animation and applies it to logo at top */
@keyframes logo {
    0% {opacity: 0; width:25px}
    100% {opacity: 1;
            width:475px}
}

#logo{
    animation-name:logo;
    animation-duration:5s;   
}


/* edits text-font and background for body */
body{
    background-image:url("../images/concrete_seamless.png");
    font-family:'Poppins',serif;
    background-color: #f1f1f1;
}

/* edits all headers to be flex items, and formatted acoording to mobile view */
header{
    display:flex;
    flex-direction:column;
    align-items: center;
}

/* edits the navlinks underneath the animation,makes links stay the same color */
.nav_links{
    display:flex;
    flex-direction:column;
}

.nav_links a:visited{
    color:#0000ff;
}

/* edits the headers in price cards specifically */
.card>header{
    background-color: #288088;
    border:#45adad solid 2px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-bottom: 0px;
}

/* turns both the card contents and the pricing card layout into flex displays, work in tandem to match spec */
.card{
    display:flex;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    flex-direction:column;
    flex-basis:450px; 
}

.pricing{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    flex-wrap:wrap;
}


/* formats images according to spec, and turns gallery into flex display that wraps images according to window size at bottom */
.gallery>img{
    border:#50c7c7 solid 10px;
    margin:10px;
    width:300px;
}

.gallery{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}


/* code that edits webpage if the page is larger(desktop view) */
@media screen and (min-height: 900px) and (min-width: 900px){
    /* overrides header/navlinks to push them to left/right respectively */
    header{
        align-items: center;
        flex-direction:row;
        justify-content:space-between;
    }

    .nav_links{
        justify-content:flex-end;
        flex-direction:row;
    }

    /* overrides previous card layout so that they are in rows */
    .card{
        flex-direction:column;
        flex-basis:275px;
    }

    .pricing{
        flex-direction:row;
        flex-wrap:nowrap;
    }

    /* makes the header stay at top of page even with scroll down */
    body>header{
        position:sticky;
        top:0;
    }


}


/* turns off animation when prefers-reduced-motion is on */
@media screen and (prefers-reduced-motion: reduce){
    #logo{
        animation:none;
        animation-duration:0ms;
    }
  }



/* edits the printed page view */
@media print{
    /* changes font, removing background */
    body{
        background-image:none;
        font-family:Arial,Helvetica;
        background-color: #f1f1f1;
    }

    /* stretchs nav links so that they can follow spec format */
    nav{
        width:100%;
    }
    .nav_links{
        justify-content:space-around;
        flex-direction:row;
    }

    /* adds border to the cards and resizes them, lines them up at bottom */
    .card{
        border:solid 2px #45addd;
        flex-basis:325px;
    }

    .pricing{
        flex-wrap:nowrap;
        align-items: flex-end;
    }

    /* adds the thumbs up */
    .card li:nth-child(2):after {
        content:"\01F44D";
    }

    /* removes gallery */
    #gallery{
        display:none;
    }
    .gallery{
        display:none;
    }
}